/AndroidVibrationPluginForUnity/.idea
/AndroidVibrationPluginForUnity/Library
/AndroidVibrationPluginForUnity/Logs
/AndroidVibrationPluginForUnity/obj
/AndroidVibrationPluginForUnity/*.sln
/AndroidVibrationPluginForUnity/*.csproj
/AndroidVibrationPluginForUnity/Assets/Plugins/Editor
/AndroidVibrationPluginForUnity/Assets/Plugins/Editor.meta
